# ==========================================
# Root / OS Garbage
# ==========================================
.DS_Store
Thumbs.db
*.log

# ==========================================
# Backend / Python Dependencies
# ==========================================
**/venv/
**/.venv/
**/env/
**/__pycache__/
**/*.pyc
**/.env
**/*.sqlite3
**/build/
**/dist/

# ==========================================
# Frontend / Node Dependencies
# ==========================================
**/node_modules/
**/.pnpm-store/
**/dist/
**/.next/
**/.nuxt/
**/.out/

# ==========================================
# IDEs and Editors
# ==========================================
**/.idea/
**/.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln